<h1>
    Tw: {{ tw.id }}
</h1>

<form>
    <input [(ngModel)]="tw.message" name="message" placeholder="message" />
    <button (click)="update()">Enregistrer</button>
</form>

<p>{{tw.user_id}}</p>

<button (click)="goBack()">Retour</button>