<h1>Twitters</h1>

<app-tw-form-add (twEvent)="receiveTw($event)"></app-tw-form-add>

<div *ngFor="let tw of tws">
    <p>{{ tw.message }}</p>
    <p>{{ tw.created_at | date:'dd/MM/y' }}</p>
    <button (click)="deleteTw(tw)">Supprimer</button> <a routerLink="/tw/{{tw.id}}">Editer</a>
</div>
<p><a routerLink="/tw-add">Ajotuer un tw</a></p>